# Database Connection URL (Supabase / PostgreSQL connection string)
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD_HERE@db.xvtdtlyjuvethmmfudgx.supabase.co:5432/postgres"

# Production Environment
NODE_ENV="production"

# Administrator Email
SUPERADMIN_EMAIL="jayeobapeace19459@gmail.com"
PRO_ADMIN_EMAIL="pro@jccf-futa.org"
YOUTUBE_CHANNEL="@jccf_futa"
